.lobby {
  background-color: #414141;
  font-family: Arial;
  font-weight: Bold;
  font-style: oblique;
  width: 25%;
  padding: 10px;
  cursor: pointer;
}

.h {
  font-size: 20px;
  color: #FFFFFF;
}

.u {
  color: #FFFFFF;
  font-size: 14px;
  margin-top: 5px;
  display: inline-block;
}

.join {
  display: inline-block;
  width: 100%;
  text-align: right;
  color: #eae9e9;
}
