.key {
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  width: 100px;
  margin: 20px;
}

.pressed {
  background-color: #5eec3a;
  color: #FFFFFF;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: black;
}
